<!DOCTYPE html>
<html>
  <head>
    <title><%= @deal.proposition %></title>
    <%= render '../../shared/assets_part', main_css_file: "bootstrap" %>
  </head>
  <%= render '../../shared/body_content' %>
</html>