<h1>Deals</h1>
<%= link_to 'New Deal', new_deal_path %>
<br />

<div data-scrollinity-data-container="activities-area" data-scrollinity-bottom-px-limit="500" data-scrollinity-path="/deals/get_record">


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Proposition</th>
        <th>Value</th>
        <th>Price</th>
        <th>Description</th>
        <th>Advertiser</th>
        <th>Publisher</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody id="activities-area">
    </tbody>
  </table>

  <div id="activities-loader" data-scrollinity-loading-pic="1" style="display: none">
    <img src="<%= asset_path("loading-cubes.svg") %>" alt="Loading..."/>
  </div>
</div>


